body {
  margin: 0px;
  /* color: white; */
  font-family: Roboto;
  font-size: 1.1rem;
}
.yatay__menu {
  width: 20vw;
  height: 100vh;
  background-color: rgb(255, 179, 56);
  position: absolute;
  top: 0;
  left: -17vw;
  transition: left 1s;
}
.yatay__menu:hover {
  left: 0;
}
.yatay__menu:hover .fa-chevron-right {
  transform: rotate(180deg);
}
.top {
  position: relative;
  background-color: rgb(184, 113, 0);
  padding: 0.3rem;
}
.fa-chevron-right {
  float: right;
  transition: all 1s;
}
.bottom li {
  list-style-type: none;
  margin-top: 1rem;
}
.bottom li a {
  text-decoration: none;
  margin-top: 1rem;
  padding: 1rem;
  color: white;
}
